@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');



body {
    background-color: #8d8787 !important;
    font-size: 15px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.container-border {
    top: 15px;
    bottom: 15px;
    left: 15px;
    right: 15px;
    position: fixed;
    border: #737171;
    border-style: solid;
    border-width: medium;
}

.container {
    top: 30px;
    bottom: 30px;
    left: 30px;
    right: 30px;
    display: flex;
    position: fixed;
}

.color-set-1 {
    color: #e9e4e4 !important;
}

.color-set-2 {
    color: #646060 !important;
    background-color: #d2d5d7 !important
    ;}


.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav a {
    color: #464343 !important;
    font-family: 'Pixelify Sans', sans-serif;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 2.55px;
    font-size: 15px !important;
    line-height: 3;
}

.border {
    border: #737171;
    border-style: solid;
    border-width: thin;
    text-align: center;
    padding-inline: 15px;
}

.last-project {
    text-align: center;
    line-height: 0;
}

about-section a {

}

.app-intro{
    position:relative;
}

/* .app-intro:before{
    width: 230px;
    content: "my last app";
    position: absolute;
    left: 2px;
    top: 2px;
    font-weight: normal;
    color: #ffe700;
    mix-blend-mode: overlay;
} */

.left-pane-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.right-pane-container {
    height: 100%;
    color: #e9e4e4 !important;
    box-sizing: border-box;
    padding: 15px;
    margin-left: 286px;
    margin-right: -17px;
    flex-grow: 1;
    overflow-y: scroll;
}

h3, h2,h4,h5,h1 {
    margin-bottom: 5px;
}


.right-pane-container ul {
    margin-top: 0px;
}

h3 {
    letter-spacing: 0.2em;
}

.right-pane-container p,li,a {
    white-space: pre-line;
    line-height: 1.8;
    letter-spacing: 0.1em;
    color: #e9e4e4 !important;
}

.app-overview {

}

.app-intro {

}

.iconFormating {
    background-size: 20px 20px;
    border: none;
    margin: 0px;
    background-position: center center;
    transition: ease 0.2s all;
    position: absolute;
    left: 30%;
    margin-top: 5px;
}

.menuIcon{
    background: url("../images/app/icons/menu.svg")  no-repeat;
}

.instruction {
    display:none;
}

@media only screen and (max-width: 600px) {
    .right-pane-container {
        margin-left: 0px;
    }

    .left-pane-container {

    }

    .scrolable-p{
        overflow-y: auto;
        overflow-x: clip;
      }

    .container {
        flex-direction: column;
        left: 13px;
        right: 13px;
    }

    .backToTop {
        background: url("../images/app/icons/backToTop.svg")  no-repeat;
        margin-inline: auto;
        margin-block: 35px;
        width: 60px;
        height: 60px;
        display: block;    }
  }

  @media only screen and (min-width: 600px) {
    .hiddenSection {
        display: none !important;
    }
    
    .left-pane-container {
        position:fixed;
        transform: translateY(-16%);
        left: 55px;
        margin-top: 65px;
    }

    .scrolable-d{
        overflow-y: auto;
        overflow-x: clip;
      }
  }